<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <title><%- title %></title>
    <%- include(template, tags) %>
  </head>
  <body>
    <div class="container-page">
      <%- include('core/header') %>
      <div class="container-body">
        <h1>Acerca de nosotros</h1>
        <div class="vertical-line">
  				<p class="text-about">
  					Academy-Code es un sitio para aquellos amantes de la tecnología, y la programación.
  					<br>
  					Somos apasionantes sobre nuestro trabajo, y estamos al tanto de los nuevos acontecimientos, lanzamientos sobre la tendencia de hoy en día sobre computadoras, móviles, software, hadware, entre otros.
  					<br>
  					Sin dudar que los videojuegos son uno de las mejores distracciones y buenos momentos para pasar el rato. Así que, nuestro sitio web, se encarga de que nuestros usuarios esten al tanto de la mejor información relevante sobre estos temas.
  					<br>
  					Nuestra comunidad es una de las mejores, ya que entre todos hacemos que esto sea posible, y la mejor información la tenemos aquí en Academy-Code.
  				</p>
  			</div>
      </div>
      <%- include('core/footer') %>
    </div>
  </body>
  <style> <%- myCss.style %> </style>
  <script> <%- myCss.script %> </script>
</html>
