<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <title><%- data.title %></title>
    <%- include(template, tags) %>
    <script data-ad-client="ca-pub-5086651778861746" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <div class="container-page">
      <%- include('core/header') %>
      <div class="container-body">
        <div class="card-article">
          <div class="card-body">
            <h1><%- data.title %></h1>
            <p class="span-new-list font-roboto">
              <%- data.by.fullname %> -
              <%- data.creation_date.toLocaleDateString() %>
      			</p>
            <div class="container-img">
      				<img align="center" src="<%- data.imageHeader %>" alt="" class="img-init">
      			</div>
            <div class="container-text">
      				<p><%- data.description %></p>
      			</div>
            <div class="container-text" style="height: auto;">
      				<p><%- data.body %></p>
      			</div>
          </div>
        </div>
      </div>
      <%- include('core/footer') %>
    </div>
  </body>
  <style media="screen">
  	<%- myCss.style %>
  </style>
  <script> <%- myCss.script %> </script>
</html>
