<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <title>iPhone 12</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPhone 12, el mejor de todos">
    <meta name="keywords" content="blog tecnologia, programacion, videojuegos"/>
    <meta property="og:title" content="iPhone 12" />
    <meta property="og:description" content="iPhone 12, el mejor de todos" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content=" http://www.academy-code.com/article/get/7278364872634" />

    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-page">
      <%- include('core/header') %>
      <div class="container-body">
        <div class="card-article">
          <div class="card-body">
            <h1><%- data.title %></h1>
            <p class="span-new-list font-roboto">
              <%- data.by.fullname %> -
              <%- data.creation_date.toLocaleDateString() %>
      			</p>
            <div class="container-img">
      				<img align="center" src="<%- data.imageHeader %>" alt="" class="img-init">
      			</div>
            <div class="container-text">
      				<p><%- data.description %></p>
      			</div>
            <div class="container-text" style="height: auto;">
      				<p><%- data.body %></p>
      			</div>
          </div>
        </div>
      </div>
      <%- include('core/footer') %>
    </div>
  </body>
  <style media="screen">
  	<%- myCss.style %>
  </style>
  <script> <%- myCss.script %> </script>
</html>
