<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <title><%- title %></title>
    <%- include(template, tags) %>
  </head>
  <body>
    <div class="container-page">
      <%- include('core/header') %>
      <div class="container-body">
        <h1>Contactanos</h1>
        <div class="section-color"></div>
        <div class="container-contact">
          <div class="first-panel">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" placeholder="Ej. XXXXX">
              <span class="focus-border"></span>
            </div>
            <div class="form-group">
              <label>E-mail</label>
              <input type="text" placeholder="Ej. xxxxx@email.com">
              <span class="focus-border"></span>
            </div>
          </div>
          <div class="second-panel">
            <div class="form-group">
              <label>Mensaje</label>
              <textarea placeholder="Escribe tu mensaje" name="name" rows="8" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-contact">Enviar</button>
            </div>
          </div>
        </div>
      </div>
      <%- include('core/footer') %>
    </div>
  </body>
  <style> <%- myCss.style %> </style>
  <script> <%- myCss.script %> </script>
</html>
