<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%- title %> </title>
    <link href="./assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;500;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-page">
      <%- include('core/header') %>
      <div class="container-body">
        <% data.forEach(function(item){ %>
          <div class="article">
            <div class="article-img">
              <img src="<%= item.imageHeader %>" alt="">
            </div>
            <div class="article-body">
              <h3><%= item.title %></h3>
              <p><%= item.description %></p>

              <div class="writter">
                <img src="./assets/img/avatar.jpg" alt="">
                <div class="writter-info">
                  <span><%= item.by.fullname %></span>
                  <span><%= item.creation_date.toLocaleDateString() %></span>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>

      <%- include('core/footer') %>
    </div>
  </body>
  <script src="./assets/js/navbar.js"></script>
  <script src="./node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
  <script src="./node_modules/@fortawesome/fontawesome-free/js/solid.min.js"></script>
</html>
